#back_adminpage{
	position: absolute;
	height : 100%;
	width : 20%;
}
#back_adminpage a{
	font-family : "Fjalla One";
	text-decoration : none;
	font-size : 300%;
	color: #707070;
	margin-top : 3%;
	margin-left:3%;
}
#back_adminpage a:hover{
	text-decoration : none;
	cursor : crosshair;
	color: #4152BC;
}
#submit_form{
	position : absolute;
	float :right;
	width:80%;
	background-color : #F5F7FA;
	height : 100%;
	margin-left : 20%;
}
#title_list{
	font-size : 300%;
	font-family : "Fjalla One";
	padding : 10%;
	color: #707070;
}
#import_instruction{
	font-size : 150%;
	font-family :'Open Sans',sans-serif;
	padding-left: 10%;
	color: #707070;
}
#import_instruction span{
	color : #F05228;
}
input[type="submit"]{
	margin-top:2vh;
	margin-right : 2vw;
	width:15vw;
	text-align:center;
	vertical-align:middle;
	background-color:#4152BC;
	font-family:'Open Sans',sans-serif;
	border:none;
	font-size:110%;
	color:white;
	padding : 1%;
}
.list_input{
	width : 0.1px;
	height : 0.1px;
	opacity : 0;
	overflow : hidden;
	position : absolute;
	z-index : -1;
}
.list_input + label {
	margin-top:3vh;
	margin-right : 2vw;
	width:15vw;
	text-align:center;
	vertical-align:middle;
    font-size: 110%;
	font-family:'Open Sans',sans-serif;
    color: white;
    background-color:#4152BC;
	padding: 1%;
	margin-left : 5%;
}

.list_input:focus + label,
.list_input + label:hover {
    opacity : 0.5;
}