.btn-default {
	background-color: #4152BC	;
	color: #FFF;
	border-color: #4152BC;
	font-family: "Fjalla One";


}
.btn-default:hover
{
	background-color: #FFF;
	color: #4152BC;
	border-color: #4152BC;
}

.modal-dialog {
	max-width: 600px;
}